* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
.top-section {
  width: 100%;
  height: 1300px;
  background-color: #9f2a2a;
  padding: 65px 155px;
  border-top: 5px solid wheat;
  border-style: groove;
}
.top-section .logo-img img {
  width: 250px;
}
.top-section .top-heading {
  color: #ffeded;
}
.top-section .top-heading h1 {
  margin-top: 20px;
  font-size: 135px;
}
.top-section .subtitle {
  font-size: 37px;
}

.top-section .main-content {
  color: #ffeded;
}
.top-section .main-content p {
  margin-top: 40px;
  font-size: xx-large;
  line-height: 38px;
}
.footer-img {
  position: absolute;
  transform: rotate(180deg);
  background-color: #9f2a2a;
  width: 90%;
  margin-top: -3px;
  border-right: 3px solid wheat;
  height: 154px;
}
.footer-img img {
  width: 154px;
  position: relative;
  bottom: 0px;
  left: -154px;
}
/* css style for middle section */

.middle-section {
  margin: 160px;
}
.middle-section .heading {
  display: inline-flex;
  margin-bottom: 60px;
}

.middle-section .heading img {
  height: 32px;
  margin-top: 13px;
}

.middle-section .heading h1 {
  font-size: xxx-large;
  margin-left: 20px;
}
.middle-section .clubs {
  display: flex;
  justify-content: space-between;
}
.middle-section .clubs .club {
  display: grid;
  /* flex-direction: row; */
}
.middle-section .clubs .club img {
  align-items: center;
  margin-bottom: 20px;
  width: 150px;
}
.middle-section .clubs .club h2 {
  text-align: center;
  color: red;
}
/* .middle-section .clubs .club h3 {
  text-align: center;
} */
.middle-section .clubs .club .black {
  color: black;
}
.last-section {
  background-color: #9f2a2a;
  color: wheat;
  font-size: 45px;
  padding: 155px;
  border-left: 2px solid wheat;
}
/*    Responsive Web Design    */
/*   media query for tablet */
@media screen and (max-width: 700px) {
  .top-section {
    width: 100%;
    text-align: center;
    padding: 40px;
    border-top: 5px solid wheat;
    height: auto;
  }
  .top-section .logo-img {
    text-align: center;
    width: 100%;
  }
  .top-section .top-heading {
    color: #ffeded;
  }
  .top-section .top-heading h1 {
    margin-top: 20px;
    font-size: 70px;
    margin-bottom: 10px;
  }
  .top-section .subtitle h1 {
    font-size: 37px;
  }
  .top-section .main-content {
    color: #a1a8a8;
  }
  .top-section .main-content p {
    line-height: 30px;
    text-align: start;
  }
  .footer-img {
    display: none;
  }
  .middle-section {
    margin: 60px 20px 40px 20px;
  }
  .middle-section .clubs {
    flex-wrap: wrap;
  }
  .middle-section .heading {
    margin-bottom: 30px;
  }
  .last-section {
    font-size: 24px;
    padding: 40px;
  }
}

/*   media query for mobile and smaller devices */
@media screen and (max-width: 480px) {
  .top-section {
    padding: 20px 20px 60px 20px;
  }
  .top-section .logo-img img {
    width: 100%;
    height: auto;
    max-width: 200px;
  }
  .top-section .top-heading h1 {
    margin-top: 20px;
    font-size: 50px;
    margin-bottom: 10px;
  }
  .top-section .subtitle h1 {
    font-size: 28px;
  }
  .middle-section {
    margin: 60px 20px 40px 20px;
  }
  .last-section {
    font-size: 15px;
    padding: 30px;
  }
}
